@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {scroll-behavior: smooth;}

/* global fonts  */
.btn{
    @apply text-white  cursor-pointer focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 bg-red-500 hover:bg-red-600
  }

.FontSizetitle{
    @apply text-[32px] leading-[45.4px] tablet:text-[38px] tablet:leading-[55.4px]  smLaptop:text-[45px] smLaptop:leading-[55.4px] bgLaptop:text-[55px] bgLaptop:leading-[150%]  Desktop:text-[55px] Desktop:leading-[150%]
}
.FontSizeParagraph{
    @apply text-[16px] leading-[22.4px] smLaptop:text-[18px] smLaptop:leading-[22px]
}